# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
node_modules
dist
.cache

# Spring Boot / Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
.DS_Store
.idea/
*.iml
*.iws
*.ipr
.vscode/
*.swp
*.swo
*~
key/